/*---------------------------------------------------
Base Typesetting
----------------------------------------------------*/

* {
  box-sizing: border-box;
}

body, html {
  
  font-variant-ligatures  : common-ligatures;
  text-rendering          : optimizeLegibility;
  font-feature-settings   : "kern"; /* standard */
  font-kerning            : normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  @apply font-primary font-regular;
}