@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/roboto/light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/roboto/light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/roboto/light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/roboto/light-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/roboto/regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/roboto/regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/roboto/regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/roboto/regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/medium-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/roboto/medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/roboto/medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/roboto/medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/roboto/medium-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/roboto/bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/roboto/bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/roboto/bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/roboto/bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/black-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/roboto/black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/roboto/black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/roboto/black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/roboto/black-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-weight: 900;
}