@mixin wordpress-editor-default-styles {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0 0 8px;
        color: #000;
    }

    object:focus { outline: none; }
    
    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray;
        margin: 0 !important;
    }

    //==================================
    // Inline elements - Default Styles
    //==================================

    dd {
        display: block;
        margin-inline-start: 40px;
    }
    
    dl {
        display: block;
        margin-block-start: 1__qem;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    
    dt { display: block; }
    
    ol ul, ul ol, ul ul, ol ol {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    /* form elements */
    form {
        display: block;
        margin-top: 1em;
    }
    
    label { cursor: default; }
    
    legend {
        display: block;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
        border: none;
    }
    
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        border: 2px groove ThreeDFace;
        min-width: min-content;
    }
    
    button {
        appearance: auto;
        color: inherit;
    }

    u, ins { text-decoration: underline; }
    
    strong, b { font-weight: bold; }
    
    i, cite, em, var, address, dfn { font-style: italic; }
    
    tt, code, kbd, samp { font-family: monospace; }
    
    pre, xmp, plaintext, listing {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1__qem 0;
    }
    
    mark {
        background-color: yellow;
        color: black;
    }
    
    big { font-size: larger; }
    
    small { font-size: smaller; }
    
    s, strike, del { text-decoration: line-through; }
    
    sub {
        vertical-align: sub;
        font-size: smaller;
    }
    
    sup {
        vertical-align: super;
        font-size: smaller;
    }
    
    nobr { white-space: nowrap; }
    
    //===============================
    // Custom styles
    //===============================

    h1, h2, h3,
    h4, h5, h6 { 
        margin-bottom: 8px; 
        clear: both;
        color: #000;
    }

    h1 { @extend .text-heading-display-1; }

    h2 { @extend .text-heading-display-2; }

    h3 { @extend .text-heading-display-3; }

    h4 { @extend .text-heading-display-4; }

    h5 { @extend .text-heading-display-5; }

    h6 { @extend .text-heading-display-6; }

    p { @extend .text-body-default; }

    a { 
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    ul, ol { 
        margin-top: 0 !important;
        margin-bottom: 8px;

        li { 
            @extend .text-body-default; 

            ul { margin-top: 8px !important; }
        }
    }

    ul, ol { margin-left: 24px; }

    blockquote {
        position: relative;
        padding: 0 24px;
        border-left: 2px solid #000;
        margin: 24px 0;

        &:before {
            content: "\201C";
            content: none;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            position: absolute;
            left: 10px;
            top: -22px;
            font-size: 4rem;
        }

        &.has-text-align-right {
            padding: 8px 64px 8px 30px;
            border-right: 4px solid #000;
            border-left: 0;

            &:before {
                content: "\201D";
                left: initial;
                right: 20px;
            }
        }

        > p { 
            margin-bottom: 8px; 
            display: block;
            @extend .text-body-large;
        }

        > cite { 
            font-style: normal; 
            
            @extend .text-body-default;
        }
    }

    figure {

        img +  figcaption,
        table +  figcaption { margin-top: 8px; }

        figcaption {
            border-left: 2px solid #000;
            color: #000;
            @extend .text-body-small;
            padding-left: 8px;
            margin-top: 0;
        }

        &.aligncenter { margin: 0 auto; }

        &.alignright { margin: .5em 0 .5em 1em; }

        &.alignleft { margin: .5em 1em .5em 0; }
    }

    div {
        figure { margin: 0; }

        figure * { margin: 0; }
    }

    .wp-block-columns .wp-block-column { margin: 0; }

    .wp-block-column *:last-child,
    .wp-block-column *:only-child { margin-bottom: 0; }

    > .wp-block-cover { 
        margin: 24px auto; 
        
        * { margin: 0; }
    }

    .wp-block-image.size-full img { width: 100%; }

    @include on(mobile) {

        figure {

            &.alignright,
            &.alignleft { 
                margin: 0 auto; 
                float: initial;
            }

            img { 
                max-height: 245px; 
                object-fit: contain;
                object-position: center;
            }
        }

        > .wp-block-cover { 
            margin: $quad-space auto; 
            min-height: 347px !important;
        }

        .wp-block-media-text {

            .wp-block-media-text__content { 
                margin-top: 8px;
                padding: 0;
                margin-bottom: 0;

                * { margin-bottom: 0; }
            }
        } 

        .wp-block-pullquote { padding: 8px 0; }

    }
}

@mixin on($media) {
    @if $media == edge {
        @media all and (max-width : 1570px) { @content; } 
    } @else if $media == large-display {
        @media all and (max-width : 1366px) { @content; }
    } @else if $media == small-desktop {
        @media all and (max-width : 1280px) { @content; }
    } @else if $media == xs-desktop {
        @media all and (max-width : 1204px) { @content; }
    } @else if $media == xl-tablet {
        @media all and (max-width : 1128px) { @content; }
    } @else if $media == large-tablet {
        @media all and (max-width : 1024px) { @content; }
    } @else if $media == medium-tablet {
        @media all and (max-width : 820px) { @content; }
    } @else if $media == tablet {
        @media all and (max-width : 768px) { @content; }
    } @else if $media == mobile {
        @media all and (max-width : 620px) { @content; }
    } @else if $media == md-mobile {
        @media all and (max-width : 420px) { @content; }
    } @else if $media == small-mobile {
        @media all and (max-width : 375px) { @content; }
	} @else if $media == smallest-mobile {
        @media all and (max-width : 340px) { @content; }
    } @else {
        @media all and (max-width : $media) { @content; }
    }
}