$primary-color: #2b2b2b;
$primary-color-hover: #2b2b2b;
$secondary-color: #858585;

$color-white: #FFFFFF;

$color-black: #333333;
$color-solid-black: #000000;

$color-grey: #D9D9DC;
$color-light-grey: #F8F8F8;
$color-dark-grey: #80868B;